/* set up layout styling for header, footer, etc. */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

article {
  display: block;
}

.container {
  min-height: 100%;
  position: relative;
}

.content {
  padding-bottom: $footer-height;
}

@import "header";

@import "footer";
