planet {
  display: block;
  position: relative; // or absolute; if floating around. should these be part of layout?

  // look up CSS animations and keyframes (i.e., transform: translateX(20px);)

  padding: $planet-button-padding; // from abstracts/_variables.scss
  width: 100px;
  text-align: center;
  font-size: 20px;
  transition: all 0.3s ease-in-out;

  &:hover {
    font-size: 30px;
  }
}
