//$planet-1-color: #5cabff;
// use javascript to animate planets bouncing
// review window.requestAnimationFrame

@mixin planet($size, $color) {
  position: relative; // or absolute; if floating around. should these be part of layout (or modules)?

  // https://cssanimation.rocks/spheres/
  display: block;
  background: black;
  border-radius: 50%;
  height: $size;
  width: $size;
  margin: 0;
  background: radial-gradient(circle at $size/3 $size/3, $color, #000);
  // look up CSS animations and keyframes (i.e., transform: translateX(20px);)

  padding: $planet-button-padding; // from abstracts/_variables.scss
  text-align: center;
  display: flex; // for vertical align
  align-items: center; // for vertical align
  font-size: 20px;
  transition: all 0.3s ease-in-out;

  a {
    margin: 0 auto;
    &:hover {
      transform: scale(1.05);
    }
  }

  &:hover {
    font-size: 30px;
    background: radial-gradient(circle at $size/3 $size/3, lighten($color, 30), #000);
  }
}

#planet-1 {
  @include planet(20vw, #5cabff);
}

#planet-2 {
  @include planet(25vw, purple);
}

#planet-3 {
  @include planet(15vw, red);
}

#planet-random {
  @include planet(10vw, yellow);
}
