<!DOCTYPE html>

<html lang="en">
<head>
  <title>Annals of Uranus: {{ page.title }}</title>

  <meta charset="utf-8">
  <meta name="description" content="Annals of Uranus">
  <meta name="author" content="Flo Wong">

  <link rel="stylesheet" href="css/styles.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->

</head>

<body>
  <header>
    <h1>
      <a href="index.html">ANNALS OF URANUS</a>
      <br>{{ page.title }}</h1> <!-- replace with logo here -->

    <div class="listen">Listen</div>
  </header>

  <article class="main-container">

    {{ content }}
  </article>

  <footer>
    <h3>Website created by <a href="https://flowong.com">Flo Wong</a></h3>
  </footer>

  <script src="js/scripts.js"></script>
</body>

</html>
