header {
  text-align: center;
  padding: 1rem;
  //animation: bounceIn 2s;

  .header--site-title {
    color: orange;
    animation: bounceIn 2s;
  }

  .header--page-title {
    animation: bounceIn 3s;
  }
}
