@import "header";
@import "footer";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

article {
  display: block;
}

.container {
  min-height: 100%;
  position: relative;
}

.content {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: $footer-height;
}
